{% comment %}
  Custom snippet for global sale banners to be shown on collection and product pages.
{% endcomment %}

{% style %}
  .global-banner__container {

  }

  .global-banner__container .banner {
    display: block;
    border-radius: 10px;
    overflow: hidden;
  }
{% endstyle %}

<div class="global-banner__container page-width">
  <picture id="banner">
    <source srcset="{{ 'earlyspring2024-globalbanner.png' | file_img_url: '1600x' }}" media="(min-width: 1200px)">
    <img
      src="{{ 'earlyspring2024-globalbanner-narrow.png' | file_img_url: 'original' }}"
      alt="Site banner for current sale."
      style="display: block;"
    >
  </picture>
</div>
