{% comment %}
  Custom snippet for global sale banners to be shown on collection and product pages.
{% endcomment %}

{% style %}
  .global-banner__container .banner {
    display: block;
    border-radius: 10px;
    overflow: hidden;
  }

  .global-banner__container .banner img {
    max-width: 100%;
  }
{% endstyle %}

<div class="global-banner__container page-width">
  <picture class="banner">
    <source srcset="{{ 'blackfriday2024-globalbanner.webp' | file_url }}" media="(min-width: 1200px)">
    <img
      src="{{ 'blackfriday2024-globalbanner-narrow.webp' | file_url }}"
      alt="Site banner for current sale."
      style="display: block;"
    >
  </picture>
</div>
