{% comment %}
  Custom snippet for global sale banners to be shown on collection and product pages.
{% endcomment %}

{% style %}
  .global-banner__container {

  }

  .global-banner__container .banner {
    display: block;
    border-radius: 10px;
    overflow: hidden;
  }

  .global-banner__container .banner img {
    max-width: 100%;
  }
{% endstyle %}

<div class="global-banner__container page-width">
  <picture class="banner">
    <source srcset="{{ 'global_banner_large_1.jpg' | file_img_url: '1600x' }}" media="(min-width: 1200px)">
    <img
      src="{{ 'spring_banner_28_small_1.jpg' | file_img_url: 'original' }}"
      alt="Spring sale electric bikes Canada."
      style="display: block;"
    >
  </picture>
</div>
