<div class="isolate">
  <div
    class="rich-text content-container color-background-1 gradient rich-text--full-width content-container--full-width"
  >
    <div class="rich-text__wrapper rich-text__wrapper--left page-width">
      <div class="rich-text__blocks left">
        <h2
          class="related-blog-posts__heading rte inline-richtext h2 scroll-trigger animate--slide-in"
          data-cascade
          style="--animation-order: 1;"
        >
          Customer Photos
        </h2>

        <div class="instagram--home__container">
          <!-- LightWidget WIDGET -->
          <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
          <iframe
            src="https://cdn.lightwidget.com/widgets/8a79a8eb9bda5ef283d4dab6b070bcb4.html"
            scrolling="no"
            allowtransparency="true"
            class="lightwidget-widget"
            style="width:100%;border:0;overflow:hidden;"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
