<div class="product-overview page-width">
  <h2 class="title h1 scroll-trigger animate--slide-in" data-cascade style="--animation-order:1;">Overview</h2>
  <div class="product-overview__grid">
    {% liquid
      for i in (1..4)
        assign zone_prefix = 'z'
        assign header_key = zone_prefix | append: i | append: '_header'
        echo header_key
      endfor
    %}
  </div>
</div>
