<div class="isolate">
  <div
    id="sizing-container"
    class="rich-text content-container color-background-1 gradient rich-text--full-width content-container--full-width"
  >
    <div class="rich-text__wrapper rich-text__wrapper--left page-width">
      <div class="rich-text__blocks">
        <h2
          class="rich-text__heading rte inline-richtext h1 scroll-trigger animate--slide-in"
          data-cascade
          style="--animation-order: 1;"
        >
          Parts Included
        </h2>
        <div class="block-sizing rich-text__text rte scroll-trigger animate--slide-in" data-cascade style="--animation-order: 2;">

        </div>
      </div>
    </div>
  </div>
</div>