<div class="isolate">
  <div
    class="rich-text content-container color-background-1 gradient rich-text--full-width content-container--full-width"
  >
    <div class="rich-text__wrapper rich-text__wrapper--left page-width">
      <div class="rich-text__blocks left">

{% liquid
   if product.metafields.custom.instagram_feed
      echo '<h2>Customer Photos</h2>' | append: product.metafields.custom.instagram_feed | append: ' '
   endif
%}

  </div></div></div></div>