{% comment %}
  Custom block for product template that displays blog posts with a matching tag.
{% endcomment %}

{% style %}
{% endstyle %}

{% liquid
  assign articles = blogs.stories.articles
  assign articles_related = ''
  assign product_tag = product.metafields.blog.tags
  assign articles_qty = articles.size
  assign articles_related_qty = articles_related.size

  for article in articles
    if article.tags contains product_tag
      assign articles_related = articles_related | append: article | append: ','
    endif
  endfor

  if articles_related != empty
    assign articles_related = articles_related | split: ','
  else
    assign articles_related = ''
  endif
%}

<div class="isolate">
  <div
    id="sizing-container"
    class="rich-text content-container color-background-1 gradient rich-text--full-width content-container--full-width"
  >
    <div class="rich-text__wrapper rich-text__wrapper--left page-width">
      <div class="rich-text__blocks">
        <h2
          class="rich-text__heading rte inline-richtext h1 scroll-trigger animate--slide-in"
          data-cascade
          style="--animation-order: 3;"
        >
          Related Blog Posts
        </h2>
        <div
          class="block-sizing rich-text__text rte scroll-trigger animate--slide-in"
          data-cascade
          style="--animation-order: 4;"
        >
          {% if product_tag != empty %}
            Tag: {{ product_tag }}
            <br>
            # of related articles: {{ articles_related_qty }}
            <br>
            {{ articles_related }}
            {% for article in articles_related %}
              {{ article.title }}
              <br>
            {% endfor %}
          {% else %}
            blog.tags is empty.
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
