{% comment %}
  A snippet showcasing key selling points of a given product.
  Uses metafields with the 'highlights' prefix.
{% endcomment %}

{% style %}
  .highlight-features__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 2em;
    margin: 3em auto;
  }

  .highlight-features__feature {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .feature__icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }

  .feature__icon svg {
    max-width: 100%;
    max-height: 100%;
    display: block;
  }

  .feature__content--label {
    font-weight: 300;
    line-height: 140%;
  }

  .feature__content--value {
    font-family: 'Unbounded', sans-serif;
    font-weight: 600;
    line-height: 1;
  }

  .feature__content--value span {
    font-size: 0.8em;
  }
{% endstyle %}

{% assign field_values = 'power, torque, range, top_speed, payload' | split: ', ' %}
{% assign field_names = 'Power, Torque, Range, Top Speed, Payload' | split: ', ' %}
{% assign has_data = false %}

{% for field in field_values %}
  {% if product.metafields.highlights[field] != empty %}
    {% assign has_data = true %}
    {% break %}
  {% endif %}
{% endfor %}

{% if has_data %}
  <div class="highlight-features__container">
    {% for field in field_values %}
      {% if product.metafields.highlights[field] != empty %}
        <div class="highlight-features__feature">
          <div class="feature__icon">{%- render 'icon-product-highlights' | icon_type: field -%}</div>
          <div class="feature__content">
            <div class="feature__content--label caption-with-letter-spacing">{{- field_names[forloop.index0] -}}</div>
            <div class="feature__content--value">
              {{- product.metafields.highlights[field] -}}
              <span>
                {%- case field -%}
                  {%- when 'power' -%}
                    W
                  {%- when 'torque' -%}
                    Nm
                  {%- when 'range' -%}
                    + km
                  {%- when 'top_speed' -%}
                    km/h
                  {%- when 'payload' -%}
                    lbs
                {%- endcase -%}
              </span>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
