{% comment %}
  Custom block for displaying product specifications.
          echo '<p class="spec"><span>' | append: formatted_words | append: '</span> ' | append: metafield.last | append: '</p>'
{% endcomment %}

{% style %}
  #specs-container .rich-text__wrapper {
    display: flex;
    flex-direction: column;
  }

  #specs-container .specs-list {
    list-style: none;
    padding: 0;
  }

  #specs-container .specs-list .spec span {
    color: black;
    letter-spacing: normal;
    /* margin-right: 5px; */
    font-weight: 500;
  }

  @media screen and (min-width: 750px) {
    #specs-container .rich-text__wrapper {
      flex-direction: row;
    }

    #specs-container .block-specs {
      max-width: 33%;
    }
  }
{% endstyle %}

<div class="isolate">
  <div
    id="specs-container"
    class="rich-text content-container color-background-1 gradient rich-text--full-width content-container--full-width"
  >
    <div class="rich-text__wrapper rich-text__wrapper--left page-width">
      <div class="rich-text__blocks block-specs left">
        <h2
          class="rich-text__heading rte inline-richtext h1 scroll-trigger animate--slide-in"
          data-cascade
          style="--animation-order: 1;"
        >
          Specifications
        </h2>
        <div class="rich-text__text rte scroll-trigger animate--slide-in" data-cascade style="--animation-order: 2;">
          <ul class="specs-list">
            {% liquid
              if product.metafields.specs
                for metafield in product.metafields.specs
                  assign formatted_words = ''

                  assign words = metafield.first | split: '_'

                  for word in words
                    assign cap_word = word | capitalize
                    assign formatted_words = formatted_words | append: cap_word
                    if forloop.last == false
                      assign formatted_words = formatted_words | append: ' '
                    endif
                  endfor

                  echo '<li class="spec"><span>' | append: formatted_words | append: '</span> ' | append: metafield.last | append: '</li>'
                endfor
              endif
            %}
          </ul>
        </div>
      </div>
      <div class="rich-text__blocks block-sizing left">
        <h2
          class="rich-text__heading rte inline-richtext h1 scroll-trigger animate--slide-in"
          data-cascade
          style="--animation-order: 3;"
        >
          Sizing
        </h2>
        <div class="rich-text__text rte scroll-trigger animate--slide-in" data-cascade style="--animation-order: 4;">
          {% if product.metafields.sizing.diagram %}
            diagram exists
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
