{% style %}
  #parts-included-container .parts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #parts-included-container .part {
    width: 150px;
    height: 150px;
    border-radius: 5%;
    overflow: hidden;
    background-size: cover;
    background-position: 0px -10px;
    border: 1px dashed lightgray;
    margin: 0 0.5em 0.5em 0;
  }

  #parts-included-container .part::after {
    content: "";
    display: block;
    position: relative;
    width: fit-content;
    width: -moz-fit-content;
    margin: auto;
    top: 80%;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }

  #parts-included-container .multitool {
    background: url("{{ 'Multitool-sm.jpg' | file_img_url }}");
  }

  #parts-included-container .charger {
    background: url("{{ 'FastChargerBrick2-sm.jpg' | file_img_url }}");
  }

  #parts-included-container .pedals {
    background: url("{{ 'Pedals-sm-flipped.jpg' | file_img_url }}");
  }
  
  #parts-included-container .part.multitool::after {
      content: "Multitool";
  }
  
  #parts-included-container .part.charger::after {
      content: "Charger";
  }
  
  #parts-included-container .part.pedals::after {
      content: "Pedals";
  }

  @media screen and (min-width: 768px) {
    #parts-included-container .parts {
        justify-content: flex-start;
    }
    
    #parts-included-container .part {
        margin: 0 1em 1em 0;
        width: 250px;
        height: 250px;
    }
  }
{% endstyle %}

<div class="isolate">
  <div
    id="parts-included-container"
    class="rich-text content-container color-background-1 gradient rich-text--full-width content-container--full-width"
  >
    <div class="rich-text__wrapper rich-text__wrapper--left page-width">
      <div class="rich-text__blocks">
        <h2
          class="rich-text__heading rte inline-richtext h1 scroll-trigger animate--slide-in"
          data-cascade
          style="--animation-order: 1;"
        >
          Parts Included
        </h2>
        <p>Our bikes ship 95% assembled with everything you’ll need to get up and running, including:</p>
        <div class="parts rich-text__text rte scroll-trigger animate--slide-in" data-cascade style="--animation-order: 2;">
        <div class="part multitool"></div>
        <div class="part charger"></div>
        <div class="part pedals"></div>
        </div>
      </div>
    </div>
  </div>
</div>