{% liquid
   if product.metafields.custom.in_stock_alert
      echo '<h2>Customer Photos</h2><div class="instock-alert">' | append: product.metafields.custom.in_stock_alert | append: '</div>'
   endif
%}