{% comment %}
  Custom Metafields Block
{% endcomment %}

<div class="specs-container">
  {% if product.metafields.specs %}
    {% for metafield in product.metafields.specs %}
      {% assign words = metafield.first | replace: '_', ' ' | split: ' ' %}
      {% assign formatted_words = '' %}
      {% for word in words %}
        {% assign formatted_words = formatted_words | append: word | capitalize %}
        {% if forloop.last == false %}
          {% assign formatted_words = formatted_words | append: ' ' %}
        {% endif %}
      {% endfor %}
      <p>{{ formatted_words }}: {{ metafield.last }}</p>
    {% endfor %}
  {% endif %}
</div>
