{% comment %}
  A custom snippet for accessories and replacement parts to display compatibility with ebikes
{% endcomment %}

{% if product.metafields.custom.compatible_with %}
  {% assign values_raw = product.metafields.custom.compatible_with | split: ',' %}
  {% assign value = values_raw.metafields.custom.compatible_with | remove: '[' %}

  {{ value }}

{% else %}
  <p>No compatibility options set.</p>
{% endif %}
