{% comment %}
  A custom snippet for accessories and replacement parts to display compatibility with ebikes
{% endcomment %}

{% style %}
  .product-compatibility__container {
    padding: 1em;
    border: 2px dashed #7BE1A4;
    background-color: #F0F5F2;
    border-radius: 10px;
  }

  .product-compatibility__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: 10px;
  }

  .product-compatibility__list-item {
    background-color: #D9E8DF;
    padding: 5px 10px;
    border-radius: 5px;
  }
{% endstyle %}

{% if product.metafields.custom.compatible_with %}
  <div class="product-compatibility__container">
    {% assign values = product.metafields.custom.compatible_with
      | remove: '['
      | remove: ']'
      | remove: '"'
      | split: ','
    %}

    <ul class="product-compatibility__list">
      {% for value in values %}
        <li class="product-compatibility__list-item">{{ value }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
