{% comment %}
  A custom block for ebike product pages displaying information about shipping and warranty. Also includes a 'rear more' pop-up.
{% endcomment %}

{% style %}
  .shipping-warranty__modal .container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .shipping-warranty__modal .modal-window {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
  }
  .shipping-warranty__modal .modal-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }

  .shipping-warranty__modal .modal-window > div {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: white;
  }

  .modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;

    .shipping-warranty__modal .modal-close:hover {
      color: black;
    }
  }

  .shipping-warranty__modal a {
    color: inherit;
    text-decoration: none;
  }

  .shipping-warranty__modal .modal-window .container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .shipping-warranty__modal small {
    color: lightgray;
  }

  .shipping-warranty__modal .btn-modal {
    background-color: white;
    padding: 1em 1.5em;
    border-radius: 0.5rem;
    text-decoration: none;
    i {
      padding-right: 0.3em;
    }
  }
{% endstyle %}

<div class="shipping-warranty__modal">
  <div class="container">
    <div class="interior">
      <a class="btn btn-modal" href="#open-modal-shipping"
        ><img src="{{ 'shipping-icon.svg' | file_url }}" width="35" alt="Shipping icon."> Free Shipping</a
      >
    </div>
  </div>
  <div id="open-modal-shipping" class="modal-window">
    <div>
      <a href="#" title="Close" class="modal-close">Close</a>
      <h3>Free Shipping</h3>
      <div id="shipping-popup" class="white-popup mfp-hide product description">
        <p>
          Our ebikes are shipped fully assembled, including both wheels attached, for your convenience. Due to the
          package's size, we utilize LTL (Less Than Truckload) carriers for shipping. Depending on your location, your
          bike will be shipped with one of the following carriers: Ace Courier, Day & Ross, or Manitoulin Transport.
        </p>
        <p>
          As part of our online incentive, we are pleased to provide free shipping* for all ebike orders. If you're in
          the vicinity of our headquarters in Port Coquitlam, BC, Canada, rest assured that pickup from our location is
          always available free of charge. Additionally, you enjoy the advantage of receiving your electric bicycle
          fully assembled right out of the box, a service that typically comes at an extra cost with our competitors.
        </p>
        <p>
          *For customers residing in rural or more remote areas where commercial trucks may face challenges with
          delivery, we kindly request that you provide a business or commercial address for your ebike's delivery.
          Alternatively you have a option to pick up your electric bike in a shipping terminal close to your location.
        </p>
        <p>
          For full shipping details please
          <a href="https://www.voltbike.com/shipping-canada" target="blank">click here</a>.
        </p>
      </div>
    </div>
  </div>
</div>
