{% comment %}
  A custom snippet for accessories and replacement parts to display compatibility with ebikes
{% endcomment %}

{% if product.metafields.custom.compatible_with %}
  {{ product.metafields.custom.compatible_with }}
{% else %}
  <p>No compatibility options set.</p>
{% endif %}
