<div class="related-blog-posts isolate">
  <div class="content-container content-container--full-width color-background-1">

{% liquid
   if product.metafields.custom.instagram_feed
      echo '<h2>Customer Photos</h2>' | append: product.metafields.custom.instagram_feed | append: ' '
   endif
%}

  </div></div>