{% comment %}
  A custom snippet for accessories and replacement parts to display compatibility with ebikes
{% endcomment %}

{% if product.metafields.custom.compatible_with %}
  {% assign values_raw = product.metafields.custom.compatible_with | split: ',' %}
  {% assign values = values_raw | remove_first: '[' | remove_last: ']' %}
  <ul>
    {% for value in values %}
      <li>{{ value }}</li>
    {% endfor %}
  </ul>
  hello ?
{% else %}
  <p>No compatibility options set.</p>
{% endif %}
