

.yt-playlist__container {
  max-width: 1500px;
  display: flex;
  flex-wrap: wrap; 
  gap: 0px;
  margin: auto;
  margin-top: 60px;
  list-style: none; 
  padding: 0;
}

.yt-playlist__container li {
  flex: 1 1 100%;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.2ms ease-in;
}

.yt-playlist__container li:hover {
  background-color: rgba(15,15,15,0.1);
  transition: background-color 0.2ms ease-out;
}

.yt-playlist__container a {
  text-decoration: none;
  color: black; 
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.yt-video__thumb {
  aspect-ratio: 16 / 9;
  width: fit-content; 
  border-radius: 10px;
  overflow: hidden;
}

.yt-video__thumb img {
  width: 101%;
  height: 100%;
  object-fit: cover;
}

.yt-video__title {
  margin-top: 10px;
  display: block;
}

@media (min-width: 685px) { 
    .yt-playlist__container li {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (min-width: 1010px) {
  .yt-playlist__container li {
    flex: 1 1 calc(33.33% - 20px);
  }
}

@media (min-width: 1301px) { 
  .yt-playlist__container li {
    flex: 1 1 calc(25% - 20px);
  }
}